@media only screen {
    html, body {
        height: 100%;
    }

    .wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
    }

    .wrap > .container {
        padding: 70px 15px 20px;
    }

    .footer {
        height: 60px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    .jumbotron {
        text-align: center;
        background-color: transparent;
    }

    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    .not-set {
        color: #c55;
        font-style: italic;
    }

    /* add sorting icons to gridview sort links */
    a.asc:after, a.desc:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        padding-left: 5px;
    }

    a.asc:after {
        content: /*"\e113"*/ "\e151";
    }

    a.desc:after {
        content: /*"\e114"*/ "\e152";
    }

    .sort-numerical a.asc:after {
        content: "\e153";
    }

    .sort-numerical a.desc:after {
        content: "\e154";
    }

    .sort-ordinal a.asc:after {
        content: "\e155";
    }

    .sort-ordinal a.desc:after {
        content: "\e156";
    }

    .grid-view th {
        white-space: nowrap;
    }

    .hint-block {
        display: block;
        margin-top: 5px;
        color: #999;
    }

    .error-summary {
        color: #a94442;
        background: #fdf7f7;
        border-left: 3px solid #eed3d7;
        padding: 10px 20px;
        margin: 0 0 15px 0;
    }

    .navbar-inverse {
        background-color: #2d2558 !important;
        border-bottom: .22em solid #c68d2a;
    }

    .navbar-brand {
        color: white !important;
    }

    .navbar-brand:hover {
        color: white !important;
        background: #211b41 !important;
    }

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > li > a:active,
    .navbar-inverse .navbar-nav > li > a:hover {
        background: #211b41 !important;
    }

    .steps p, .steps h2 {
        text-align: center;
    }

    /*Footer*/
    footer p a {
        font-size: .9em;
        color: #5F97FF;
    }

    .footer {
        height: 6em !important;
    }

    /*Index*/
    .carousel-control, .carousel-control.left:hover, .carousel-control.right:hover,.carousel-control.left, .carousel-control.right {
        opacity: 0;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;
    }

    .carousel {
        position: absolute;
        width: 98.75vw !important;
        right: 0;
        left: 0;
        margin-top: -1.3em;
        border-bottom: 3px solid #211b41;
    }
    .carousel-caption h1, .carousel-caption p{
        text-shadow: 0 1px 2px rgba(0,0,0,.9);
    }
    .carousel-caption p{
        font-size: 1.2em;
    }

    /*Index content*/
    .body-content {
        margin-top: 1em;
    }

    .body-content .steps h3 {
        text-align: center;
    }

    .carousel-indicators li {
        visibility: hidden;
    }

    .home-icon {
        font-size: 5em;
    }

    .home-icon-small {
        font-size: 3em;
    }

    /* Navbar */
    #logo_nav {
        height: 2.7em;
        margin-top: -.7em;
        float: left;
        margin-right: .6em;
    }

    /*CRUD panel */
    a{
        color:#2d2558;
    }
    .panel-default > .panel-heading {
        color: rgb(243, 255, 246);
        background-color: #2d2558;
        border-color: #2d2558;
    }

    .btn-success {
        background-color: #c68d2a;
        border-color: #c68d2a;
        padding: .5em 3em;
    }

    .btn-success:hover, .btn-success:active:focus, .btn-success:active, .btn-success:focus {
        background-color: #bc8528;
        border-color: #bc8528;
        outline: none;
    }

    .users-request-input {
        margin-bottom: 20px;
    }

    .btn-primary {
        background-color: #322961;
        border-color: #322961;
        padding: .5em 2em;
    }

    .btn-danger{
        padding: .5em 1.5em;
    }

    .btn-primary:hover, .btn-primary:active:focus, .btn-primary:active, .btn-primary:focus {
        background-color: #211b41;
        border-color: #211b41;
        outline: none;
    }

    a i.glyphicon {
        padding-right: .2em;
    }

    .input_form input,
    .reports-attended-form input[type=text],
    .reports-by-area-index input[type=text],
    .reports-by-category-index input[type=text],
    .reports-by-requestuser-index input[type=text],
    .reports-attended-form input[type=text]{
        border-radius: 5px;
        border: 1px solid silver;
        height: 2.5em;
        width: 14.5em;
        outline: none;
    }
    .btn-small{
        padding: .3em;
        border-radius: 5px;
        padding-right: .2em;
    }
    .btn-margin{
        margin-left: 7em;
    }
}

@media only screen and (max-width: 40em) {
    /*Navbar*/
    .navbar-inverse .navbar-toggle{
        border: none;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: #211b41 ;
    }

    /*Carousel*/
    .carousel {
        width: 96vw !important;
        right: 0;
        left: 0;
    }
    .carousel-caption{
        padding-bottom: 0;
        bottom: -75px;
    }
    .carousel-caption p, .carousel-caption h1{
        opacity: 0;
    }
    /*Index content*/
    .body-content .steps{
        margin-top: 10em!important;
    }
    .home-icon {
        font-size: 2.5em;
    }

    .home-icon-small {
        font-size: 1.5em;
    }
}


@media only screen and (min-width: 40.063em) {
    /*Navbar*/
    .navbar-inverse .navbar-toggle{
        border: none;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: #211b41 ;
    }

    /*Carousel*/
    .carousel {
        width: 98.75vw !important;
        right: 0;
        left: 0;
        position: absolute;
    }
    .carousel-caption{
        padding-bottom: 20px;
        bottom: 20px;
    }
    /*Index content*/
    .body-content .steps{
        margin-top: 20em!important;
    }
    .home-icon {
        font-size: 3.5em;
    }

    .home-icon-small {
        font-size: 2em;
    }

}

@media only screen and (min-width: 64.063em) {
    .body-content .steps{
        margin-top: 22em!important;
    }
    .carousel-caption{
        padding-bottom: 20px;
        bottom: 50px;
    }
}